/* Base Styles */
* {
	box-sizing: border-box;
}

body,
.main-header {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
body {
	background-color: #AFD3F0;
}

img {
		width: 100%;
		max-width: 400px;
		height: auto;
}
 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h3,
a {
	color: #093a58;
}
h2 {
	text-align: center;
	background-color: #5D707F;
	color: white;

}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
input {
	width: 100%;
	padding: 10px;
}

/* Base Layouts */

.heading {
	text-align: center;
	color: #07004D;
}

.name {
	margin: 0;
}
.main-nav {
	margin-top: 15px;
}
.name a,
.main-nav a {
	text-align: center;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: rgb(#0094f0);
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #9c3737;
}

/* Layout Containers */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
.banner{
	text-align: center;
}
.main-nav {
	display: flex;
	flex-direction: row;
}
.banner {
	color: #fff;
	background: rgb(67, 111, 206);
	padding: 3.2em 0;

}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	text-align: center;

}
.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2rem;
	padding-top: 40px;
	width: 80%;
	max-width: 1150px;
	margin: 0 auto;

}
/* Page Elements */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}

/* Media Queries */

@media (max-width: 769px) {
	
	.name {
		float: right;
		width: 70%;
		padding-top: 20px;;
	}

	.main-nav {
		display: none;
	}

	.main-nav li {
		padding: 20px;
		background-color: white;
		border: solid grey 2px;
	}
	.main-nav a {
		display: list-items;
		width: 100%;
		font-size: 25px;
	}

	.main-nav.toggleCls {
		display: block;
	}

	.hamIcon {
		float: left;
        width: 20%;
	}

	.main-header {
		flex-direction: column;
		align-items: right;
	}
	.row {
		display: flex;
		flex-direction: column;
	}
	.main-footer {
		margin-top: 50px;
		width: auto;
	}	
}

@media(min-width: 770px) {
	h2 {
		border-radius: 10px;
		text-align: center;
	}
	

	/* maybe utilize background color */

	.main-header {
		background-color: white;
	}

	.main-footer {
			position: fixed;
			bottom: 0px;
			left: 0px;
			width: 100%;
		}
		.hamIcon {
			display: none;
		}
}