* {
box-sizing: border-box;
}
h1 {
        font-family: "Helvetica", sans-serif;
        color: #222;
        line-height: 1.4;
        padding: 50px;
        text-align: center;
}
header {
    background-color: turquoise;
}

body {
    background-color: rgb(201, 235, 215);
}
.food img{
    padding: 1em;
    max-width: 100%;;
    height: auto;
}
.cookie {
    width: 60%;
    height: auto;
    float: left;
}
.cake{
    width: 40%;
    height: auto;
    float: left;
}
h2 {
    border: 0px;
    position: relative;
    text-align: left;
}